# Python
__pycache__/
*.py[cod]
*$py.class

# Virtuelle Umgebung
env/
venv/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/static/
/media/

# Umgebungsvariablen / Secrets
.env

# IDE / Editor
.vscode/
.idea/
*.swp

# Betriebssystem
.DS_Store
Thumbs.db
